@page "/bookDetails"

@using Firka.Models
@using Firka.Services

@inject BookServices BookServices
@inject NavigationManager Navigation


<h3>BookDetails</h3>

<input type="text" @bind="Id" placeholder="Könyv sorszáma" />
<button type="button" @onclick="GetBookById">Adott sorszámű könyv adatainak megjelenítése</button>

<p></p>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger">@errorMessage</p>
}

@if (TheOneAndOnly is not null)
{
    <p>@TheOneAndOnly.Id</p>
    <p>@TheOneAndOnly.Title</p>
    <p>@TheOneAndOnly.Author</p>
    <p>@TheOneAndOnly.Year</p>
    <p>@TheOneAndOnly.IsAvailable</p>
}
else
{
    <p>sorszám</p>
    <p>cím</p>
    <p>szerző</p>
    <p>év</p>
    <p>elérhető</p>
}

<h3>Könyv adatainak módosítása</h3>

<input type="number" @bind="NewId" placeholder="Könyv sorszáma" />
<p></p>
<input type="text" @bind="NewTitle" placeholder="Könyv új címe" />
<p></p>
<input type="text" @bind="NewAuthor" placeholder="Könyv új szerzője" />
<p></p>
<input type="number" @bind="NewYear" placeholder="Könyv új kiadási éve" />
<p></p>
<input type="checkbox" @bind="NewIsAvailable" placeholder="Könyv új elérhetősége" />
<p></p>
<button type="button" @onclick="ModifyBookParameters">Adatok megváltoztatása</button>

@code {

    private string? Id;
    private Book? TheOneAndOnly;
    private string? errorMessage;

    private int NewId;
    private string? NewTitle;
    private string? NewAuthor;
    private int NewYear;
    private bool NewIsAvailable;


    private void GetBookById()
    {
        if (int.TryParse(Id, out int id))
        {
            if (BookServices.IdIsInTheList(id))
            {
                TheOneAndOnly = BookServices.GetBookById(id);
                errorMessage = null;
            }
            else
            {
                TheOneAndOnly = null;
                errorMessage = "A keresett sorszámú könyv nincs a listában.";
            }
        }
        else
        {
            TheOneAndOnly = null;
            errorMessage = "Nem számot adtál meg, próbáld újra.";
        }

    }

    private void ModifyBookParameters()
    {
        Book TheNewOne = new Book(NewId, NewTitle, NewAuthor, NewYear, NewIsAvailable);
        BookServices.UpdateBook(TheNewOne);
    }


}
